mixin icon(icon, name)
  svg(class= icon): use(xlink:href="img/sprite.svg#" + name)

mixin link(href, name, className)
  a(href=href class=className)= name
    if block
      block

mixin slide__intro-item(imgName, title, subtitle)
  .swiper-slide(style= `background-image: url(img/intro/${imgName}); background-repeat: no-repeat; background-size: cover; background-position: center;`)
    .container
      .intro__inner
        .intro__content
          h2.intro__title= title
          h3.intro__subtitle= subtitle
          +link("#", "Подробнее", "link-btn")
        .intro__controllers
          button.slider-btn-prev--intro: +icon("intro__icon", "slider-arrow")
          button.slider-btn-next--intro: +icon("intro__icon intro__icon--reverted", "slider-arrow")

mixin slide__activities-item(imgName)
  .swiper-slide: img.activities__img(src=`img/activities/${imgName}`, alt="")

mixin features-item(title, icon)
  .features__item
    .features__content
      .features__icon-wrapper: +icon("features__icon", icon)
      h3.features__title= title

mixin features(modif= none)
  .features(class= modif)
    .container
      .features__inner
        +features-item("Надежная защита", "feat-1")
        +features-item("Безупречная репутация", "feat-2")
        +features-item("Ориентированность на результат", "feat-3")
        +features-item("Абсолютная конфиденциальность", "feat-4")

mixin activities-item(title, icon, href)
  .activities__item
    .activities__content
      h3.activities__item-title= title
      +link(href, "Подробнее", "link-txt")
    .activities__icon-wrapper: +icon("activities__icon", icon)

mixin slide__reviews-item(img, post, name, txt)
  .swiper-slide
    .reviews__item
      img.reviews__img(src=`img/reviews/${img}`, alt="")
      .reviews__content
        p.reviews__post= post
        p.reviews__name= name
        p.reviews__txt= txt
        +link("#", "Читать далее", "link-txt")

mixin special-item(title, txt)
  .special__item
    h3.special__title= title
    p.special__txt= txt
    img.special__triangle(src="img/triangle.png", alt="")

mixin services-item(title, href)
  .services__item
    .services__block
    .services__content
      h3.services__item-title= title
      +link(href, "Подробнее", "link-txt services__link")
